.bid-container {
  padding: 16px;
  display: flex;
  flex-direction: row;
  margin: 16px 0;
  border-radius: 8px;
  background: white;
  height: 100%;
}

.bid-container .image {
  height: 321px;
  width: 321px;
  margin-right: 37px;
  border-radius: 6px;
  background: url("../../source/images/omid-armin-skoebzCO9tc-unsplash.jpg");
  background-size: 100% 100%;
}

.bid-container .bid-detail-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.bid-container .bid-detail-container .product-detail {
  display: flex;
  flex-direction: column;
}

.bid-container .bid-detail-container .product-detail .product-name {
  margin: 8px 0px;
  font-weight: 600;
  font-size: 24px;
  line-height: 26px;
}

.bid-container .bid-detail-container .bid-detail {
  display: flex;
  flex-direction: row;
}
.bid-container .bid-detail-container .bid-detail .detail {
  margin-right: 16px;
}

.bid-container .bid-detail-container .price-time-container {
  margin-bottom: 45px;
  display: flex;
  flex-direction: column;
}
.bid-container .bid-detail-container .price-time-container .time-expire .title {
  margin-right: 8px;
  font-weight: 400;
  font-size: 20px;
  line-height: 27px;
}
.bid-container .bid-detail-container .price-time-container .time-expire .icon {
  margin-right: 8px;
  font-weight: 400;
  font-size: 24px;
  line-height: 20px;
  /* or 83% */

  /* Text/secondary */

  /* color: #586782; */
}
.bid-container .bid-detail-container .price-time-container .time-expire .time {
  margin-right: 8px;

  /* color: #393f49; */
}
.bid-container .bid-detail-container .price-time-container .time-expire {
  display: flex;
  flex-direction: row;
  margin-bottom: 22px;
}

.bid-container .bid-detail-container .price-time-container .price-container {
  display: flex;
  flex-direction: row;
}

.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .title-container {
  display: flex;
  flex-direction: column;
  width: 212px;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container {
  display: flex;
  flex-direction: row;
  align-self: center;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .btn-bid-auction {
  height: 40px;
  width: 144px;
  font-size: 16px;
  line-height: 26px;
  font-family: "Noto Sans", "Noto Sans Thai";
  background: #12284c;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .bid-input {
  max-width: 400px;
  width: 100%;
  align-items: center;
  margin-right: 8px;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .bid-input
  .input-prefix {
  border-right: 1px solid #e5e9ed;
  height: 100%;
  margin-right: 0;
  padding-right: 8px;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .bid-input
  .input-suffix {
  border-left: 1px solid #e5e9ed;
  height: 100%;
  margin-right: 0;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .bid-input
  .input-suffix
  .icon
  svg {
  font-size: 20px;
  color: #12284c;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .bid-input
  .input-suffix
  .MuiButtonBase-root {
  margin-right: -4px;
}
.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .input-container
  .bid-input
  .MuiOutlinedInput-root {
  padding: 8px 12px;
}

.bid-container
  .bid-detail-container
  .price-time-container
  .price-container
  .tile {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.bid-input .MuiOutlinedInput-input {
  text-align: end;
}

@media only screen and (max-width: 959px) {
  .bid-container {
    flex-direction: column;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 8px 16px 16px 16px;
  }
  .bid-container .image {
    height: 248px;
    width: 248px;
    margin-right: 0px;
    margin-bottom: 16px;
    border-radius: 6px;

    align-self: center;
  }

  .bid-container .bid-detail-container .product-detail .product-name {
    margin: 0px 0px;
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
    display: -webkit-box;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }
  .bid-container .bid-detail-container .bid-detail .detail {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    display: flex;
    align-items: center;
    color: #586782;
    margin-bottom: 24px;
  }
  .bid-container .bid-detail-container .price-time-container .time-expire {
    display: flex;
    flex-direction: column;
    margin-bottom: 22px;
  }
  .bid-container .bid-detail-container .price-time-container {
    margin-bottom: 0px;
  }
  .bid-container
    .bid-detail-container
    .price-time-container
    .time-expire
    .title {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #586782;
    align-self: center;
    margin-bottom: 8px;
  }
  .bid-container
    .bid-detail-container
    .price-time-container
    .time-expire
    .time-container {
    align-self: center;
  }
  .bid-container
    .bid-detail-container
    .price-time-container
    .price-container
    .title-container {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    margin-top: 0px;
    margin-bottom: 4px;
    /* width: 212px; */
  }
  .bid-container .bid-detail-container .price-time-container .price-container {
    flex-direction: column;
    padding: 16px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
  }
  .bid-container
    .bid-detail-container
    .price-time-container
    .price-container
    .input-container {
    /* display: flex; */
    flex-direction: column;
    align-self: center;
  }
  .bid-container
    .bid-detail-container
    .price-time-container
    .price-container
    .input-container
    .bid-input {
    margin-bottom: 8px;
  }

  .bid-container
    .bid-detail-container
    .price-time-container
    .price-container
    .input-container
    .btn-bid-auction {
    width: unset;
  }
}
