.product-container {
  display: flex;
  flex-direction: row;
  background: white;
  border-radius: 8px;
  padding: 8px 40px 8px 8px;
  margin-bottom: 16px;
}

.product-container > .detail-container {
  display: flex;
  flex-direction: row;
  margin-top: 8px;
  justify-content: space-between;
  width: 100%;
}
.detail-container > .product-detail {
  /* max-width: 854px; */
  margin-left: 16px;
  margin-right: 44px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 5px;
}
.product-container > .img {
  height: 113.04px;
  width: 113.04px;
  min-height: 113.04px;
  min-width: 113.04px;
  border-radius: 6px;
  background: url("../../source/images/omid-armin-skoebzCO9tc-unsplash.jpg");
  background-size: 100% 100%;
}
.product-container > .detail-container > .product-detail > .product-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-decoration: none !important;
}

.product-detail > .product-time > .icon,
.product-detail > .product-time > .time {
  margin-right: 8px;
}

.price-container {
  display: flex;
  flex-direction: column;
}

.product-container .price-container .price {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 19px;
  margin-top: 4px;
}

.price-container .btn-auction {
  /* max-width: 160px; */
  width: 160px;
  /* font-weight: 600; */
  font-size: 16px;
  line-height: 26px;
  font-family: "Noto Sans", "Noto Sans Thai";
  background: #12284c;
}

.price-container .btn-auction:hover {
  background: #12284c;
}

@media only screen and (max-width: 959px) {
  .product-container {
    padding: 0px 16px;
    margin-bottom: 32px;
  }
  .price-container .btn-auction {
    display: none;
  }
  .product-container > .detail-container {
    display: flex;
    flex-direction: column;
    margin-top: 0px;
    justify-content: space-between;
    width: 100%;
  }
  .product-container > .detail-container > .product-detail > .product-name {
    display: -webkit-box;

    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 4px;
  }
  .detail-container > .product-detail {
    margin-right: 0px;
  }
  .product-container .price-container .price {
    margin-bottom: 0px;
    margin-left: 16px;
  }
}
