.bid-table-container {
  background: white;
  border-radius: 8px;
  margin-bottom: 16px;
  padding: 16px;
}

.bid-table-container .header {
  background-color: #f5f7fb;
  border-bottom: 0px;
}
.bid-table-container .first-header {
  border-radius: 8px 0px 0px 8px;
}
.bid-table-container .last-header {
  border-radius: 0px 8px 8px 0px;
}
.bid-table-container .bid-table-his {
  box-shadow: unset;
}
.bid-table-container td {
  border-color: #e5e9ed;
}
.bid-table-container {
  font-size: 16px;
}
.col-user-name-content .update-by {
  display: none;
}
.bid-table-container tr td {
  padding: 8px 16px 16px 16px;
  vertical-align: baseline;
}
.first-row td {
  padding-top: 16px !important;
}
@media only screen and (max-width: 959px) {
  .bid-table-container {
    padding: 0px;
  }
  .bid-table-container .first-header {
    border-radius: 0px;
  }
  .bid-table-container .last-header {
    border-radius: 0px;
  }
  .bid-table-container .col-bid-date {
    display: none;
  }
  .col-user-name-content .update-by {
    display: inherit;
  }
}
