.main-tool-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 50px;
  max-height: 50px;
  min-height: 50px !important;
  /* min-height: 0px; */
  padding: 8px 110px 8px 110px !important;
  box-shadow: 0 !important;
  border-bottom: 1px solid #e5e9ed;
}
.toolbar-box > header {
  box-shadow: unset;
  background: rgba(255, 255, 255, 0.8);
}
/* .btn-toolbar {

} */

.main-tool-bar .logo {
  font-weight: 700;
  font-size: 36px;
  line-height: 26px;
  color: #393f49;
}

.main-tool-bar .auth-input {
  display: flex;
  flex-direction: row;
}

.main-tool-bar .auth-input div,
.main-tool-bar .auth-input TextField {
  margin-right: 4px;
}
.main-tool-bar .auth-input .MuiTextField-root label:not(.MuiInputLabel-shrink) {
  top: -7px;
}
.main-tool-bar .btn-toolbar {
  /* max-width: 160px; */
  /* width: 160px; */
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Metropolis", "Noto Sans Thai";
  background: #12284c;
  /* padding: 0px; */
}
.main-tool-bar .user-icon-btn svg {
  /* max-width: 160px; */
  /* width: 160px; */
  font-size: 30px;
  color: #07152f;
  /* padding: 0px; */
}

.main-tool-bar .btn-toolbar:hover {
  background: #12284c;
}

.user-info-box {
  height: 300px;
  width: 200px;
  padding: 16px 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.user-info-box .user-info {
  display: flex;
  flex-direction: column;
}
.user-info-box .user-info .user-info-icon {
  font-size: 68px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 16px;
}
.user-info-box .user-info .user-info-icon svg {
  color: #12284c;
}
.user-info-box .user-info .user-info-username {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.header-product-detail-moblie {
  display: flex;
  flex-direction: row;
}

.header-product-detail-moblie .title {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  align-self: center;
}
.header-product-detail-moblie .btn-back {
  font-size: 18px;
  margin-right: 24px;
}

@media only screen and (max-width: 959px) {
  .main-tool-bar {
    padding: 8px 16px 8px 16px !important;
  }
  .username-pass-container {
    margin-left: 8px;
    display: flex;
    flex-direction: row;
  }
  .username-pass-container .MuiButton-contained {
    padding: 2px;
    font-size: 14px;
  }
}
