@font-face {
  font-family: Metropolis;
  src: url("./source/fonts/metropolis/Metropolis-Regular.otf")
      format("embedded-opentype"),
    /* Internet Explorer */
      url("./source/fonts/metropolis/Metropolis-Regular.otf") format("woff2"),
    /* Super Modern Browsers */
      url("./source/fonts/metropolis/Metropolis-Regular.otf") format("woff"),
    /* Pretty Modern Browsers */
      url("./source/fonts/metropolis/Metropolis-Regular.otf") format("truetype"),
    /* Safari, Android, iOS */
      url("./source/fonts/metropolis/Metropolis-Regular.otf") format("svg"); /* Legacy iOS */
}
body {
  margin: 0;
  font-family: "Metropolis", "Noto Sans Thai";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f7fb;
  backdrop-filter: blur(20px);
}

/* code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
} */
.page-container {
  padding: 0px 110px 0px 110px;
}

.header-title {
  color: #393f49;
}

.secondary-text {
  color: #586782;
}
.primary-text {
  color: #393f49;
}
.hint-text {
  color: #a4afbf;
}

.semi-bold-en-subtilte {
  font-family: "Metropolis", "Noto Sans Thai";
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 27px;
}

.semi-bold-th-body {
  font-family: "Metropolis", "Noto Sans Thai";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
}
.semi-bold-th-body2 {
  font-family: "Metropolis", "Noto Sans Thai";
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
}

.light-th-body {
  font-family: "Noto Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
}
.light-th-body2 {
  font-family: "Metropolis", "Noto Sans Thai";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
}
#simple-popover .btn-toolbar {
  /* max-width: 160px; */
  /* width: 160px; */
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  font-family: "Metropolis", "Noto Sans Thai";
  background: #12284c;
  /* padding: 0px; */
}

#simple-popover .btn-toolbar:hover {
  background: #12284c;
}

.bid-container .MuiAlert-filledError {
  background: #ffd8d8;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #eb5757;
  justify-content: center;
}

.bid-container .MuiAlert-filledSuccess {
  background: #d8ffec;
  font-weight: 600;
  font-size: 16px;
  line-height: 26px;
  color: #00512a;
  justify-content: center;
}
.bid-container .MuiSnackbar-root {
  width: 696px;
  height: 42px;
}
.bid-container .MuiAlert-message {
  font-family: "Metropolis", "Noto Sans Thai";
}
.bid-container .alert-error-icon {
  height: 24px;
  width: 24px;
  background-size: 100% 100%;
  background: url("./source/images/rr 1.png");
}

@media only screen and (max-width: 959px) {
  body {
    background: white;
  }
  .page-container {
    padding: 0;
  }
  .bid-container .MuiSnackbar-root {
    width: unset;
    top: 65px;
    /* height: 42px; */
  }
}
