.product-page-container {
  display: flex;
  flex-direction: column;
}
.product-page-container > .header-title {
  margin: 40px 0;
  font-weight: 600;
  font-size: 44px;
  text-align: center;
}
@media only screen and (max-width: 959px) {
  .product-page-container > .header-title {
    margin: 32px 0;
    font-weight: 600;
    font-size: 28px;
    line-height: 38px;
    text-align: center;
  }
}
